.module_checkbox_clean_checked {
    display: inline;
    color: #325e1c;
    background-color: #f3faef;
    border: 2px solid #c9e1bd;
    border-radius: 5px;
    padding: 1px 8px;
    cursor: help;
}

